@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Webflix</h1>
    <p class="lead">Welcome to Webflix. A soon to be Netflix clone.</p>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Webflix Home Button</h2>
        <p>
            Click the Webflix button in the top left to return to the homepage.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Customers Button</h2>
        <p>Click the Customers button to see a list of Customers. Click on the names for more details and to edit the Customer's data.</p>
    </div>
    <div class="col-md-4">
        <h2>Movies Button</h2>
        <p>Click the Movies button to see a list of Movies. Click on the names for more details and to edit the Movie's data.</p>
    </div>
</div>